
bin/GZDoom/

bin/include/

bin/src/

bin/obj/

bin/Build.xml

bin/HxcppConfig.h

bin/Main.exe

bin/Main.exe.hash

bin/Main.exp

bin/Main.lib

bin/Options.txt

*.gbc

bin/Main-debug.exe

bin/Main-debug.exe.hash

bin/Main-debug.exp

bin/Main-debug.ilk

bin/Main-debug.lib

bin/Main-debug.pdb

bin/test.lump

bin/wad/SPRITES/rips/

bin/

dump/

*.dbs

*.backup1

*.backup2

*.backup3

PK Sprites backup/

pokecrystal-master/
